.checkbox {
  appearance: none;
  height: 24px;
  width: 24px;
  margin: 4px;
  border: 1px solid #8b98a5;
  border-radius: 6px;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
  }
  &:checked {
    border: 1px solid #ffffff;
    background-color: #e7e7e7;
    &::before {
      content: "";
      display: block;
      position: relative;
      left: 6.5px;
      top: 1.5px;
      width: 6px;
      height: 12px;
      border: solid #00ff00;
      border-width: 0 3px 3px 0;
      animation: 300ms checkmark forwards;
      transition: border-color 0.3s;
    }
  }
  &:disabled {
    background-color: #7f7f7f;
  }
}

@keyframes checkmark {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.radio {
  appearance: none;
  height: 24px;
  width: 24px;
  margin: 4px;
  border: 1px solid #8b98a5;
  border-radius: 50%;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
  }
  &:checked {
    border: 1px solid #ffffff;
    background-color: #e7e7e7;
    &::before {
      content: "";
      display: block;
      position: relative;
      left: 2px;
      top: 2px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #00ff00;
    }
  }
  &:disabled {
    background-color: #7f7f7f;
  }
}
