a.link__invite {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
  padding: 0.5rem;
  text-align: center;
  background-color: #7fffd2;
  color: black;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: 0.3s;
}
a.link__invite:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

a.link__setting {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #7fffd2;
  border-radius: 5px;
  text-align: center;
  color: #7fffd2;
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  a.link__setting {
    margin: 1rem 0;
  }
}

.place__holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.place__holder .panel__feature {
  flex-grow: 1;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.saveButton {
  display: none;
  background-color: #7fffd2;
  font-size: 1.2rem;
  width: calc(5vw + 4rem);
  height: calc(1vw + 3rem);
  border-radius: 0.5rem;
  position: sticky;
  bottom: 10vh;
  left: calc(90vw - 2rem);
}